<!DOCTYPE html>
<html>

<head>
  <title>Substrate: One Million Remarks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:#000000">
  <div class="text-center">
    <img src="image.png" />
  </div>
</body>

</html>